.content {
  background-color: #60777c;
}
.exclusive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exclusive__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 57px;
  color: #ffffff;
  max-width: 600px;
  padding-top: 80px;
  text-align: center;
}
.exclusive__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  max-width: 660px;
  padding-top: 22px;
}
.content__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
  
}
.exclusive__description {
  font-family: "Roboto" ,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  max-width:500px;
  margin-top: 22px;
}
.exclusive__photo{
  max-width: 100%;
  min-height: 100%;
  
}
.content__row{
  display: flex;
  align-items: center;
  margin-top: 120px;
  
}
.space{
  margin-top:30px;
}
.right{
  padding-left:100px;
}
